@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', system-ui, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #000000;
}

body {
  color: #FFFFFF;
  font-family: var(--font-inter);
}

a {
  color: inherit;
  text-decoration: none;
}
